.todoitems{
    display: flex;
    width: 100vw;
  }
  .itemname{
    width: 40vw;
    font-size: 1.5rem;
    height: 100%;
     text-wrap: wrap;
    text-align: center;
    align-self: center;
    padding-left: 4rem;
  }
  .itemdate{
    width: 40vw;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .deleteitem{
    width: 20vw;
    align-self: center;
  }